@model IEnumerable<StudentApp.Models.Student>

<h2>All Students</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Course</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Course</td>
                <td><a href="/Student/Details/@student.Id">View</a></td>
            </tr>
        }
    </tbody>
</table>
